{
    "app":
        {
            "logging" : "true"
        },
    "db":
        {
            "_comment" : "Engine types: MySQL/PostgreSQL/SQLite/MSSQL",
            "engine" : "MySQL",
            "host" : "localhost",
            "port" : "3306",
            "user" : "",
            "password" : "",
            "database" : "",
            "sqlite_file" : "Database/database.sqlite"
        },
    "url":
        {
            "start-page" : "home"
        }
}
